<body style="height: 100%; min-height: 100vh; padding: 20px;">
    <div class="row">
          <div id="carouselId" class="carousel slide" data-bs-ride="carousel" >
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
              <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
              <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img src="https://i.ibb.co/Hn6n829/johnlennon1-2x.jpg" class="w-100 d-block" alt="First slide">
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/Dzvd4SJ/bono1-2x.jpg" class="w-100 d-block" alt="Second slide" >
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/vzRDVZ3/bearbryant2.jpg" class="w-100 d-block" alt="Third slide" >
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
      </div>
    </div>
    <div>
      <div class="row justify-content-center" style="text-align: center; margin: 50px;">
         <p>
            Welcome to InspireMeQuotes.com, your daily source of inspiration and wisdom through the power of words.         
            At InspireMeQuotes, we believe that a single quote has the potential to change your day, your mindset, 
            or even your life. Our mission is simple: to curate and share the most thought-provoking, motivational, 
            and uplifting quotes with you every day.   
            Our team of passionate quote enthusiasts scours the world of literature, speeches, 
            and timeless wisdom to handpick quotes that resonate with the human spirit. Whether you're seeking motivation for a challenging day, 
            solace in times of uncertainty, or simply a moment of reflection, you'll find it here.
            Join our community of subscribers and embark on a journey of personal growth and inspiration. 
            Start your day with our "Quote of the Day" and explore our extensive library of quotes that touch on love, success, happiness, and much more. 
            Thank you for choosing InspireMeQuotes.com as your daily source of inspiration. 
            We're honored to be a part of your journey towards a more inspired and fulfilling life.
        </p>
      </div>
    </div>
</body>