<main >
    <div class="project card-container">
            <div class="project card 1" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/vYrjLTx/octaviaebutler1-2x.jpg" alt="pic">
                </div>
                <br />
                <h3>Octavia E. Butler</h3>
                <p class="techstack">
                    Every story I create, creates me. I write to create myself.
                </p>
            </div>
            <div class="project card 2" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/TT55P8m/georgeeliot1.jpg" alt="pic1">
                </div>
                <br />
                <h3>George Eliot</h3>
                <p class="techstack">
                    Our deeds determine us, as much as we determine our deeds.
                </p>
                
            </div>
            <div class="project card 3" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/f1FSxFg/socrates1.jpg" alt="pic3">
                </div>
                <br />
                <h3>Socratesr</h3>
                <p class="techstack">
                    The only true wisdom is in knowing you know nothing.
                </p>
            </div>
            <div class="project card 1" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/9TZFmNm/alfredlordtennyson1.jpg" alt="pic4">
                </div>
                <br />
                <h3>Alfred Lord Tennyson</h3>
                <p class="techstack">
                    'Tis better to have loved and lost than never to have loved at all.
                </p>
            </div>
            <div class="project card 2" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/5L7KRjy/motherteresa1.jpg" alt="pic5">
                </div>
                <br />
                <h3>Mother Teresa</h3>
                <p class="techstack">
                    Let us always meet each other with smile, for the smile is the beginning of love.
                </p>
                
            </div>
            <div class="project card 3" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/cccCHKN/aristotle1.jpg" alt="pic6">
                </div>
                <br />
                <h3>Aristotle</h3>
                <p class="techstack">
                    Quality is not an act, it is a habit.
                </p>
            </div>
            <div class="project card 1" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/4M38g5B/nelsonmandela1.jpg" alt="pic7">
                </div>
                <br />
                <h3>Nelson Mandela</h3>
                <p class="techstack">
                    It always seems impossible until it's done.
                </p>
            </div>
            <div class="project card 2" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/r6B32Vc/confucius1.jpg" alt="pic8">
                </div>
                <br />
                <h3>Confucius</h3>
                <p class="techstack">
                    It does not matter how slowly you go as long as you do not stop.
                </p>
                
            </div>
            <div class="project card 3" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/XZxJspj/samuelbeckett1.jpg" alt="pic8">
                </div>
                <br />
                <h6>Samuel Beckett</h6>
                <p class="techstack">
                    Ever tried. Ever failed. No matter. Try Again. Fail again. Fail better.
                </p>
            </div>
      </div>
    </main>