<body>
    <article>
      <section class="card">
        <div class="text-content">
          <h3>Quote Of The Day!</h3>
          <p>
            If you believe in yourself and have dedication and pride - and never quit, 
            you'll be a winner. 
            The price of victory is high but so are the rewards.
        </p>  
         <p>
            <u><i>Bear Bryant</i></u>
         </p>
        </div>
        <div class="visual">
          <img src="https://i.pinimg.com/736x/5a/dd/16/5add164dac701c1ccbfd53914f927794.jpg" alt="" />
        </div>
      </section> 
    </article>
</body>